<div class="container px-5 px-sm-0">
<h2>マイページ</h2>

<div class="row">
  <div class="col-md-2">
    <div class="lead font-weight-bold">登録情報</div>
  </div>
  <div class="col-md-3">
    <%= link_to customers_information_edit_path do %>
      <button type="button" class="btn btn-success">編集する</button>
    <% end %>
  </div>
</div>
  <table class="table-bordered">
    <tr>
      <th class="table-secondary">氏名</th>
      <td><%= current_customer.last_name %><%= current_customer.first_name %></td>
    </tr>
    <tr>
      <th class="table-secondary">カナ</th>
      <td><%= current_customer.last_name_kana %><%= current_customer.first_name_kana %></td>
    </tr>
    <tr>
      <th class="table-secondary">郵便番号</th>
      <td><%= current_customer.postal_code %></td>
    </tr>
    <tr>
      <th class="table-secondary">住所</th>
      <td><%= current_customer.address %></td>
    </tr>
    <tr>
      <th class="table-secondary">電話番号</th>
      <td><%= current_customer.telephone_number %></td>
    </tr>
    <tr>
      <th class="table-secondary">メールアドレス</th>
      <td><%= current_customer.email %></td>
    </tr>
  </table>

<div class="row">
  <div class="col-md-2">
    <div class="lead font-weight-bold">配送先</div>
  </div>
  <div class="col-md-3">
    <%= link_to addresses_path do %>
      <button type="button" class="btn btn-primary">一覧を見る</button>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-2">
    <div class="lead font-weight-bold">注文履歴</div>
  </div>
  <div class="col-md-3">
    <%= link_to orders_path do %>
      <button type="button" class="btn btn-primary">一覧を見る</button>
    <% end %>
  </div>
</div>
</div>