<script src="https://kit.fontawesome.com/6fd84a1e7d.js" crossorigin="anonymous"></script>

<div class="container px-5 px-sm-0">

  <h2>商品詳細</h2>

  <div class="row">
    <div class="col-md-3">
      <%= image_tag @item.get_item_image(180,120) %>
    </div>

    <div class="col-md-2 offset-md-1">

      <div>商品名</div>
      <div>商品説明</div>
      <div>ジャンル</div>
      <div>税込価格<br>(税抜価格)</div>
      <div>販売ステータス</div>

    </div>

    <div class="col-md-5 offset-md-1">

      <%= @item.name %><br>
      <%= @item.introduction %><br>
      <%= @item.genre.name %><br>
      <%= @item.with_tax_price %> (<%= @item.price %>)円<br>
      <br>
      <% if @item.is_active == true %>
        <%= "販売中" %>
      <% else %>
        <%=  "販売停止中" %>
      <% end %>
      <br>

    </div>
  </div>

  <div class="text-center">
    <%= link_to edit_admin_item_path(@item) do %>
      <button type="submit" class="btn btn-success">編集する</button>
    <% end %>
  </div>

</div>
