<%= form_with model: @customer do |f| %>

<h2><%= customer.last_name %>" "<%= customer.first_name %>さんの会員詳細</h2>

<p>会員ID</p>
<%= customer.id %>

<p>氏名</p>
<label for="inputLastName"></label>
<%= f.file_field :last_name, autofocus: true, id:"inputLastName",　placeholder: "令和" %>
<label for="inputFirstName"></label>
<%= f.text_field :first_name, autofocus: true, id:"inputFirstName", placeholder:"道子" %>

<p>フリガナ</p>
<label for="inputLastNameKana"></label>
<%= f.file_field :last_name_kana, autofocus: true, id:"inputLastNameKana",　placeholder: "レイワ" %>
<label for="inputFirstName"></label>
<%= f.text_field :first_name_kana, autofocus: true, id:"inputFirstNameKana", placeholder: "ミチコ" %>

<p>郵便番号</p>
<label for="inputPostalCode"></label>
<%= f.text_field :postal_code, autofocus: true, id:"inputPostalCode", placeholder: "0000000" %>

<p>住所</p>
<label for="inputAddress"></label>
<%= f.text_field :address, autofocus: true, id:"inputAddress", placeholder: "東京都渋谷区代々木神園町0-0" %>

<p>電話番号</p>
<label for="inputPostalCode"></label>
<%= f.text_field :postal_code, autofocus: true, id:"inputPostalCode", placeholder: "0000000" %>

<p>メールアドレス</p>
<label for="inputEmail"></label>
<%= f.text_field :email, autofocus: true, id:"inputEmail", placeholder: "sample@example.com" %>

<p>会員ステータス</p>
<label for="inputIsDeleted"></label>
<%= f.radio_button :is_deleted, :ture, autofocus: true, id:"inputIsDleted" %>
<%= f.radio_button :is_deleted, :false, autofocus: true, id:"inputIsDleted" %>

<%= f.submit '変更を保存' %>

<% end %>
