<h2>ショッピングカート</h2>

<table class="table-bordered">
  <thead class="table-secondary">
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% if current_customer.cart_items.present? %>
  <% @cart_items.each do |cart_item| %>
    <tr>
      <td>
        <%= image_tag cart_item.item.get_item_image(60,50) %>
        <%= cart_item.item.name %>
      </td>
      <td><%= cart_item.item.with_tax_price %></td>
      <td>
        <%= form_with model: @cart_item, url: cart_item_path(cart_item), method: :patch do |f| %>
          <%= f.select :amount, *[1..10] %>
          <%= f.submit '変更', class: 'btn btn-success' %>
        <% end %>
      </td>
      <td><%= cart_item.subtotal %><% @total +=  cart_item.subtotal %></td>
      <td>
        <%= link_to '削除', cart_item_path(cart_item), method: :delete, data: {confirm: "投稿を削除します。よろしいですか？"}, class: 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<table>
  <tr>
    <th>合計金額</th>
    <td><%= @total %></td>
  </tr>
</table>

<% end %>