<script src="https://kit.fontawesome.com/6fd84a1e7d.js" crossorigin="anonymous"></script>

<div class="container px-5 px-sm-0">

  <h2>商品一覧</h2><p>(全<% Item.count %>件)</p>

  <div class="row">
    <div class="col-md-2">

    </div>

    <div class="col-md-10">
      <div class="row">

        <% @items.each do |item| %>
          <div class="col-md-2 offset-md-0">

          <%= link_to item_path(item) do %>
            <%= image_tag item.get_item_image(160,100) %>
          <% end %>
          <br>

          <%= item.name %><br>

          ￥<%= item.with_tax_price %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= paginate @items %>
</div>
