<script src="https://kit.fontawesome.com/6fd84a1e7d.js" crossorigin="anonymous"></script>

<div class="container px-5 px-sm-0">

  <h2>商品詳細</h2>

  <div class="row">
    <div class="col-md-3">
      <%= image_tag @item.get_item_image(200,160) %>
    </div>

    <div class="col-md-8 offset-md-1">

      <div class="lead font-weight-bold"><%= @item.name %></div>

      <%= @item.introduction %>

      <div class="row">
        <div class="lead font-weight-bold">
          ￥<%= @item.with_tax_price %>
        </div>
        <div>(税込)</div>
      </div>

      <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>

        <%= f.hidden_field :item_id,value: @item.id %>


        <%= f.select :amount, *[1..10], { include_blank: '個数選択' } %>

        <%= f.submit 'カートに入れる', class: 'btn btn-success btn-sm' %>

      <% end %>

    </div>
  </div>
</div>